<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RH Informática</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome-animation.css" rel="stylesheet" />
    <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
</head>
<body >
         <!-- NAV SECTION -->
         <div class="navbar navbar-inverse navbar-fixed-top">
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Departamento de Recursos Humanos</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home-sec">Inicio</a></li>
                    <li><a href="#services-sec">¿Quiénes somos?</a></li>
                     <li><a href="#price-sec">Nuestras herramientas</a></li>
                    <li><a href="#contact-sec">Contacto</a></li>
                </ul>
            </div>
           
        </div>
    </div>   
    <!--Seccion 1 (Inicio)-->
    <div id="home-sec">

   
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <span class="head-main" >Facultad de Informática</span>
                <h2 class="head-sub-main">Arquitectura de Modelos Cloud</h2>
                <h3 class="head-last col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3">¿Quieres conocer nuestra facultad?</h3> 
            </div>
            <div class="col-md-12 col-sm-12">
               
                <a  href="#services-sec">
                 <i class="fa fa-crosshairs fa-5x go-marg"></i> 
                    </a>
            </div>
        </div>
    </div>
         </div>
    
    <!--END HOME SECTION-->  

    <!--SERVICES SECTION-->    
    <section  id="services-sec">
        <div class="container">
            <div class="row ">
                <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> ¿Quiénes somos? </h1>
                
               
                <div class="text-center g-pad-bottom">
                    <div class="col-md-4 col-sm-4">
                            <i class="fa fa-users fa-5x faa-ring animated c-main "></i>
                            <h4>Luis David Hernández Hernández</h4>
                            <p>
                            Yo soy David y tengo 26 años, estudié Medicina y ahora estoy en Ingeniería en Computación y yo soy relaciones académicas.
                            </p>
                            
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <i class="fa fa-folder-open fa-5x faa-shake animated c-main "></i>
                        <h4>Ana Karen Torres Noguez</h4>
                        <p>
                            ¡Hey! Yo soy Karen, tengo 20 años, futura egresada en Ingeniería en Computación y soy parte del Departamento de Gestión.
                        </p>
                      
                </div>

                <div class="col-md-4 col-sm-4">
                        <i class="fa fa-file fa-5x faa-vertical animated c-main "></i>
                        <h4>Gonzalo Camarena Pardo</h4>
                        <p>
                            Hola amigo, me dicen Gonza, tengo 22 años y soy parte del Control de Información.
                        </p>
                        
                </div>
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-id-card fa-5x faa-vertical animated c-main "></i>  
                </div>

                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-id-card fa-5x faa-vertical animated c-main "></i>  
                </div>

                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-id-card fa-5x faa-vertical animated c-main "></i>  
                </div>

                
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-gavel fa-5x faa-shake animated c-main "></i>
                    <h4>Daniel Juárez de Alba</h4>
                    <p>
                        ¡Hola! Me llaman Dany y tengo 21 años, soy parte de la carrera Ingeniería en Computación y yo soy el director general
                        del Departamento de Recursos Humanos.
                    </p>
                </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--END SERVICES SECTION-->
  
     <!--PRICE SECTION-->
    <section id="price-sec">
        <div class="container">
            <div class="row g-pad-bottom">
                <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> NUESTRAS HERRAMIENTAS </h1>
                
                  
                <div class="col-md-12 text-center ">
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                             
                            <li class="plan-head">Virtual<i class="fa fa-dot-circle-o  c-pr-i"></i>Studio</li>
                           
                            <li>HTML</li>
                            <li>JAVASCRIPT</li>
                            <li>CSS</li>
                            <li class="bottom">
                                <a href="https://code.visualstudio.com/" class="btn btn-success btn-lg ">Descargar ahora</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                            <li class="plan-head">MY<i class="fa fa-dot-circle-o  c-pr-i"></i> SQL</li>
                            
                            <li>XAAMP</li>
                            <li>Apache</li>
                            <li class="bottom">
                                <a href="https://www.apachefriends.org/download.html" class="btn btn-primary btn-lg ">Descargar ahora</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                            <li class="plan-head">GIT <i class="fa fa-dot-circle-o  c-pr-i"></i> HUB</li>
                         
                            <li><strong>REPOSITORIO ACTUALIZADO</strong></li>
                            <li>CÓDIGO EN <strong>TIEMPO REAL</strong></li>
                            <li>CUENTAS ENCRIPTADAS</li>
                            <li class="bottom">
                                <a href="https://github.com/DanydeAlba24/Proyecto_Arquitectura_de_Modelos_Cloud" class="btn btn-danger btn-lg">Crea ahora tu cuenta</a>
                            </li>
                        </ul>
                    </div>
                

                </div>
            </div>


        </div>
    </section>  
    
    <section  id="contact-sec">
        <div class="container">
             
            <div class="row g-pad-bottom">
                  <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs"></i> CONTÁCTANOS </h1>
                
                  
                <div class="col-md-6 ">
                    <h2>¿Quieres asegurar tu cuenta?</h2>
                 
                    <p>
                         <strong> Ubicación: </strong> &nbsp;Av. De Las Ciencias S/n, 76230 Querétaro, Querétaro 
                        <br />
                        Deja los datos que quisieras asegurar en nuestra plataforma, recuerda que toda tu información está protegida y 
                        no se hará un mal uso siguiendo el código de protección de privacidad.             
                    </p>
                    <form>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Nombre:">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Correo electronico:">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Requerimento:"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                   <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999841.293321206!2d-75.80920404999999!3d42.75594204999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew+York!5e0!3m2!1sen!2s!4v1395313088825" s ></iframe>

                </div>
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION-->

   

    <!--FOOTER SECTION -->
    <div id="footer">
        2024 Arquitectura de Modelos Cloud | Profesor: José Alfredo Acuña García  
         
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.min.js"></script>  
     <!-- ISOTOPE SCRIPT   -->
    <script src="assets/plugins/jquery.isotope.min.js"></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="assets/plugins/jquery.prettyPhoto.js"></script>    
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>

</body>
</html>
